
<div class="row">
<h1>Windows</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Command</th>
      <th>Title</th>
      <th>Desktop</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @windows.each do |window| %>
    <tr class="<%= window[:active] ? "active" : "" %>">
      <td><span title="<%= window[:cmdline].gsub('"','\"') %>"><%= window[:comm] %></span></td>
      <td><%= window[:title] %></td>
      <td><%= window[:desktop].to_i + 1 %></td>
      <td>
        <form action="/activate/<%= window[:id] %>" method=post class="action">
          <button type=submit class="btn btn-mini" <%= window[:active] ? "disabled" : "" %>>Activate</button>
        </form>
        <form action="/fullscreen/<%= window[:id] %>" method=post class="action">
          <button type=submit class="btn btn-mini <%= window[:fullscreen] ? "btn-success" : "" %>">Fullscreen</button>
        </form>
        <form action="/close/<%= window[:id] %>" method=post class="action">
          <button type=submit class="btn btn-mini btn-danger">Close</button>
        </form>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="span4">
  <form action="/command" method="post">
    <legend>New Program</legend>
    <label for=command>Command</label>
    <input type=text name=command class="input-xlarge" placeholder="some command"/><br/>
    <button type=submit class="btn btn-primary">Execute</button>
  </form>
</div>
<div class="span4">
  <form action="/browse" method="post">
    <legend>New Web</legend>
    <label for=url>Url</label>
    <input type=text name=url class="input-xlarge" placeholder="http://youtube.com/watch?v=ADF123BFJX"/><br/>
    <button type=submit class="btn btn-primary">Execute</button>
  </form>
</div>
<div class="span4">
  <form action="/display" method="post">
    <legend>Display</legend>
    <% if @display_on then %>
    <button type="submit" name="operation" value="off" class="btn btn-primary">Off</button>
    <% else %>
    <button type="submit" name="operation" value="on" class="btn btn-primary">On</button>
    <% end %>
  </form>
</div>
</div>


<div class="row">

<form action="/activate_desktop" method=post>
  <div class="desktop-list">
    <fieldset>
      <legend>Desktops</legend>
      <div class="btn-group">
        <% @desktops.each do |desktop| %>
        <button class="btn btn-large" name="id" value="<%= desktop[:id] %>"><%= desktop[:id].to_i + 1 %></button>
        <% end %>
      </div>
    </fieldset>
  </div>
</form>

</div>
